{% extends 'main/statistics.html' %}

{% block gorod %}
<div class="rod_voiska">
<a href="/perechen_gorodov/"><button type="button" class="btn rod" style="width: 910px;">Города</button></a>
</div>
{% endblock %}

{% block att %}
<div class="rod_voiska">
    <h3 class="zagol">Перечень АТ</h3>
    <a href="/ckp/"><button type="button" class="btn rod">ЦКП</button></a>
    <a href="/gus/"><button type="button" class="btn rod">ГУС</button></a>
    <a href="/domr"><button type="button" class="btn rod">ДОМР</button></a>
    <a href="/gut"><button type="button" class="btn rod">ГУТ</button></a>
    <a href="/gsh/"><button type="button" class="btn rod">ГШ</button></a><br>
    <a href="/dkivn/"><button type="button" class="btn rod">ДВОН</button></a>
    <a href="/guvp"><button type="button" class="btn rod">ГУВП ВС РК</button></a>
    <a href="/vms"><button type="button" class="btn rod">ВМС</button></a>
    <a href="/svo"><button type="button" class="btn rod">СВО ВС РК</button></a>
    <a href="/suhop_zapad"><button type="button" class="btn rod">Ргк"Запад"</button></a><br>
    <a href="/suhop_dshv"><button type="button" class="btn rod">ДШВ</button></a>
    <a href="/suhop_astana"><button type="button" class="btn rod">Ргк"Астана"</button></a>
    <a href="/suhop_vostok"><button type="button" class="btn rod">Ргк"Восток"</button></a>
    <a href="/chnp_sv"><button type="button" class="btn rod">ЧНП СВВСРК</button></a>
    <a href="/suhop_yug"><button type="button" class="btn rod">Ргк"Юг"</button></a><br>
    <a href="/chnp_untiv"><button type="button" class="btn rod">ЧНП УНТиВ</button></a>
    <a href="/gusv"><button type="button" class="btn rod">ГУСВ ВС РК</button></a>
    <a href="/grau"><button type="button" class="btn rod">ГРАУ ВС РК</button></a>
    <a href="/gurv"><button type="button" class="btn rod">ГУРВ ВС РК</button></a>
    <a href="/rv14"><button type="button" class="btn rod">14</button></a><br>
    <a href="/guv"><button type="button" class="btn rod">ГУВ ВС РК</button></a>
    <a href="/nuo/"><button type="button" class="btn rod">Example</button></a><br>
  </div>
{% endblock %}

{% block zagol %}
<h4 class="zagol">За ВС РК</h4>
{% endblock %}